#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  margin-top: 3em;
}

.background {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:#f1f1f1; 
}

.backgroundBox {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 60%;
  height: 80%;
}

.button {
  margin-top: 2em; 
  margin-bottom: 2em;
  background-color: #CF152D; 
  border-radius: 20px; 
  border: 1px solid transparent;
  color: white;
  width: 40%;
  height: 2.5em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.25s;
}

.button:hover {
  background-color: #950b1d; 
}

.input {
  padding-left: 20px; 
  background-color: #f1f1f1; 
  border-radius: 20px; 
  border: 1px solid transparent;
  width: 80%;
  height: 2em;
  font-size: 1em;
}

.GoogleLogin {
  width: 40%;
  margin-top: 1.5em;
}

